<html>

    <head>
        <title>This is a very simple web page</title>
    </head>

    <body>
        <h1>This is the page header, level 1</h1>
        <h2>Welcome {{ visitor_name }}</h2>
        <p>This page comes from a template</p>
        <p>A paragraph</p>
        <p>
            Another paragraph, with a
            <a href="https://www.wikipedia.org/">link to Wikipedia</a>
        </p>
        <table>
            <tr>
                <td>First row, first column</td>
                <td>First row, second column</td>
            </tr>
            <tr>
                <td>second row, first column</td>
                <td>second row, second column</td>
            </tr>
        </table>
    </body>

</html>
